# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

Q2. Print all the even number between (1, 12).

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [1]:
#Q1. Find the largest number from the given list, use for loop.

numbers = [12, 75, 150, 180, 145, 525, 50]

max(numbers)

525

In [50]:
#using for loop. 

numbers = [12, 75, 150, 180, 145, 525, 50]

largest_number = numbers[0] 

for i in numbers:
    print(f"{largest_number},{i}")
    if i>largest_number:
        largest_number=i
        print(f"largest number = {largest_number}")
       
    else:
        print(" ")

12,12

12,75
largest number = 75
75,150
largest number = 150
150,180
largest number = 180
180,145

180,525
largest number = 525
525,50

In [56]:
#Q2. Print all the even number between (1, 12).
number = 0

for i in range (1,12+1):
    if i%2==0:
        print(f"The number {i} is even")
    else:
        print(f"The number {i} is odd")

The number 1 is odd
The number 2 is even
The number 3 is odd
The number 4 is even
The number 5 is odd
The number 6 is even
The number 7 is odd
The number 8 is even
The number 9 is odd
The number 10 is even
The number 11 is odd
The number 12 is even

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

In [106]:
numbers =[12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    elif i > 150:
        continue
    # check if number is divisible by 5
    elif i % 5 == 0:
        print(f"The number is {i}")

The number is 75
The number is 150
The number is 145

In [98]:
#Q3. Calculate the sum of all numbers from 1 to a given number

#Expected Output:
#Enter number 10

#Sum is:  55
num =float(input("Enter a number:"))

if num < 0:
    print("Enter a positive number")
else:
    sum=0
          
    while(num > 0):
        sum += num
        num -= 1
        print("The sum is", sum)

Enter a number:10
The sum is 10.0
The sum is 19.0
The sum is 27.0
The sum is 34.0
The sum is 40.0
The sum is 45.0
The sum is 49.0
The sum is 52.0
The sum is 54.0
The sum is 55.0

In [103]:
sum_of_num = 0
num = int(input("Enter number "))

for i in range(1, num + 1,1):
    sum_of_num += i
    print(f"Sum is: {sum_of_num}")

Enter number 10
Sum is: 1
Sum is: 3
Sum is: 6
Sum is: 10
Sum is: 15
Sum is: 21
Sum is: 28
Sum is: 36
Sum is: 45
Sum is: 55

In [107]:
#Q5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

End.